body {
  background: url("src/js02/sea.jpg");
}

.center {
  height: 700px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.clock {
  position: relative;
  width: 200px;
  height: 200px;
  background: transparent;
  border: 10px solid white;
  border-radius: 50%;
  transform: translateY(-3px);
  box-shadow: 2px 2px 2px grey, 2px 2px 2px grey;
}

.line {
  width: 50%;
  height: 6px;
  background: black;
  position: absolute;
  top: 50%;
  transform-origin: 90%;
}

.clock-hour {
  transform: rotate(30deg);
}
